header {
  nav {
    --latime-buton: 100%;
    display: block;
    padding-right: 0;
  }
}

#ch-menu {
  display: block;
}

#hamburger {
  img {
    width: 100px;
    height: 100px;
  }
}

ul.meniu {
  .text-icon {
    display: block;
  }

  div#acasa {
    display: none;
  }

  display: none;
  position: absolute;
  width: 100%;
  transform-origin: left top;
  animation: afis_meniu 0.5s linear;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &::after {
      content: none;
    }
  }

  ul {
    transform-origin: center top;

    li {
      background-color: var(--accent-cyan);
    }
  }

  >li:hover {
    ul {
      top: 100%;
      bottom: 0;
    }
  }
}

#ch-menu:checked+ul.meniu {
  display: block;
  position: relative;
  width: 100vw;
}

@keyframes afis_meniu {
  0% {
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
