main {
  padding-top: 1rem;

}
#date-contact {
  padding: 0.5rem;
  border: var(--bs-border-width) solid var(--border-glow);
  border-radius: var(--bs-border-radius-lg);
  box-shadow:
    0 0 0.25rem var(--accent-magenta),
    0 0 0.875rem var(--accent-purple),
    0 0 1.25rem var(--accent-indigo);
}

#section-contact address {
  font-style: normal;
  margin: 0 0 1rem;
  display: grid;
  gap: 0.625rem;
}
h2 {
  text-align: center;
}

#section-contact address p {
  margin: 0;
  padding: 0.5rem;
  border-top: var(--bs-border-width) solid var(--accent-cyan);
  background: linear-gradient(to bottom, var(--bg-dark) 0%, transparent 100%);
}

main a {
  position: relative;
  background-image: radial-gradient(
    ellipse,
    var(--accent-cyan) 0%,
    var(--accent-cyan) 40%,
    transparent 80%,
    transparent 100%
  );
  background-position: center;
  background-size: 0;
  background-repeat: no-repeat;
  color: var(--accent-cyan);
  text-decoration: none;
  border-bottom: 0.0625rem dashed var(--accent-cyan);
  transition:
    color 0.25s ease,
    border-color 0.25s ease,
    background-size 0.4s ease;
}

a:visited {
  color: var(--accent-magenta);
}

a:hover {
  color: var(--accent-pink);
  border-bottom-color: var(--accent-pink);
  background-size: 100%;
}

a[href^="http"]::before {
  content: "⮳";
  font-size: 1.5em;
  margin-right: 0.25em;
}

a[href^="http"]:hover::before {
  color: var(--accent-cyan);
}

#section-contact a:active {
  border: 1px solid var(--accent-cyan);
}
